mixin card-image(object, i)
    -var swiperWrapper = '';
    -var swiperSlide = '';
    -var sourcePictureSrcsets = [];
    if (object.swiper)
        - swiperWrapper = 'swiper-wrapper';
        - swiperSlide = 'swiper-slide';
    if (object.longImage)
        - sourcePictureSrcsets = ['https://groupconstellation.com/wp-content/uploads/2019/10/town-center-one_cover-587x780.jpg', 'https://demo.phlox.pro/carpenter/wp-content/uploads/sites/125/2019/10/hutomo-abrianto-9mPl0Zo7_gQ-unsplash-587x780.jpg', 'https://www.honeywhatscooking.com/wp-content/uploads/2019/11/Tomato-Basil-Soup24-587x780.jpg', 'https://external-preview.redd.it/ZhZQezfileFidstH1EAqo5_NV0CPhqdab2kwVzrosog.jpg?auto=webp&s=78a109341d7591b3ae2e8f9a2686645844bfb055'];
    if (object.wideImage)
        - sourcePictureSrcsets = ['http://www.ic-el.rs/assets2/images/-html-m3ff36e4c-736x460.png', 'https://mdk.red/m/2K912eMK/736x460.jpg', 'https://images.squarespace-cdn.com/content/v1/5ca087dfb10f255e7c559756/1652858948052-K5DW3RD3O9MZ7DUFNJ0K/TV-Stua-736x460.jpeg'];


    .card__image(class=swiperWrapper)
        // изображения нарезаны для всех десктопных разрешений + мобилка + webp, если какие-то разрешения не нужны, можно убрать
        each item in sourcePictureSrcsets
            picture(class=swiperSlide)
                //- // img size 587/780
                //- source(srcset="/images/card__placeholdeSr.jpg" data-srcset=`https://picsum.photos/id/1${i}/587/780.webp` media="(min-width: 1900px)" type="image/webp")
                //- // img size 587/780
                //- source(srcset="/images/card__placeholder.jpg" data-srcset=`https://picsum.photos/id/1${i}/587/780` media="(min-width: 1900px)" type="image/jpeg")
                //- // img size 435/578
                //- source(srcset="/images/card__placeholder.jpg" data-srcset=`https://picsum.photos/id/1${i}/435/578.webp` media="(min-width: 1400px)" type="image/webp")
                //- // img size 435/578
                //- source(srcset="/images/card__placeholder.jpg"  data-srcset=`https://picsum.photos/id/1${i}/435/578` media="(min-width: 1400px)" type="image/jpeg")
                //- // img size 350/465
                source(srcset="/images/card__placeholder.jpg" data-srcset=item media="(min-width: 768px)" type="image/webp")
                //- // img size 350/465
                //- source(srcset="/images/card__placeholder.jpg" data-srcset=`https://picsum.photos/id/1${i}/350/465` media="(min-width: 768px)" type="image/jpeg")
                //- // img size 270/370
                source(srcset="/images/card__placeholder_mobile.jpg" data-srcset=item media="(min-width: 300px)" type="image/webp")
                //- // img size 270/370
                //- source(srcset="/images/card__placeholder_mobile.jpg" data-srcset=`https://picsum.photos/id/1${i}/270/370` media="(min-width: 300px)" type="image/jpeg")
                //- // img size 587/780
                img(src="/images/card__placeholder.jpg" data-src=`https://picsum.photos/id/1${i}/587/780` alt="Название товара").img.lazyload.card__img
    if (object.swiper)
        .swiper-pagination
   
mixin card(objectType, count)
    -var dataCardHover = '';
    -var dataCardSwitcher = '';
    if (objectType.cardHover)
        - dataCardHover = 'card-hover';
    if (objectType.cardSwitcher)
        - dataCardSwitcher = 'card-switcher';
    .card
        .row
            - for (var i=0; i < count; i++)
                .col-6.col-lg-4
                    .card__inner(data-hover=dataCardHover data-switcher=dataCardSwitcher)
                        a(href="#").card-link
                            +card-image({longImage: true}, i)
                            .card__params
                                .card__name Наименование изделия
                                .card__params-wrapper
                                    .card__price от 3 990 руб.
                                    .card__amount от 10 штук
                        .card__hidden
                            button.buttons.buttons_blue(data-link="#modal-request") Оставить заявку
                            a(href="#").buttons.buttons_light-blue Подробнее
